<%- include ./partials/header.ejs %>

<%- include ./partials/nav.ejs %>

<div class="row">
  <div class="col s6 offset-s3">
    <div class="row center-align">
      <h1><%= album.title %></h1>
      <em>by <%= album.artist %></em>
    </div>
    <div class="row">
      <div><h2>Reviews</h2><span><button>Add Review</button></span></div>
      
    </div>
  </div>
</div>

  <!-- TODO: implement album reviews -->

<%- include ./partials/footer.ejs %>
